body {
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

header {
    background: purple;
    color: black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav {
    background: orchid;
    height: 200px;
    width: 200px;
    margin: 100px auto auto auto;
    display: flex;

}

#navImg {
    height: 150px;
    width: 150px;
    border-radius: 50px;
    border: dashed purple;
    margin: 25px 25px 25px 25px;
}
